@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swa'); 


html, body, [class*="css"]   {
    font-family: 'Raleway', sans-serif; 
    font-size: 15px;
    font-weight: 350;
    color: #000000;
}
div[data-testid="stExpander"]  p {
    font-size: 2rem;
    font-weight: 600;
    color: #091747;
}
p {
    font-size: 1rem; /* Smaller font size for other paragraphs */
}

.sidebar .st-cp.st-e9.st-ea.st-eb.st-ec.st-af {
    font-family: 'Raleway', sans-serif; /* Replace with your desired font */
    font-size: 8px; /* Example size, adjust as needed */
    /* Add any other styles you want for these buttons */
}
.css-10trblm.eqr7zpz0 {
    font-size: 50px;  /* Example size, adjust as needed */
    font-family: 'Raleway', sans-serif;  /* Example font, adjust as needed */
    /* Add any other styles you want for this element */
}

.css-10trblm eqr7zpz0{
    font-size: 20px;  /* Example size, adjust as needed */
    font-family: 'Raleway', sans-serif;  /* Example font, adjust as needed */
    /* Add any other styles you want for this element */
}
