@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swa'); 


html, body, [class*="css"]   {
    font-family: 'Raleway', sans-serif; 
    font-size: 25px;
    font-weight: 500;
    color: #091747;
}
div[data-testid="stExpander"] div[role="button"] p {
    font-size: 2rem;
}
p {
    font-size: 1rem; /* Smaller font size for other paragraphs */
}

.sidebar .st-cp.st-e9.st-ea.st-eb.st-ec.st-af {
    font-family: 'Raleway', sans-serif; /* Replace with your desired font */
    font-size: 16px; /* Example size, adjust as needed */
    /* Add any other styles you want for these buttons */
}
